# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Build output
build/
dist/

# Environment variables
.env

# OS-specific
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Logs
*.log
*.tmp
*.swp

# Diretório de build
target/

# Configurações IDE
*.iml

# Arquivos de configuração local
config/secret.json
